<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.preferencePages">
    <page
      id="unixtoolspreferences"
      name="Unix tools"
      class="gr.aueb.dmst.istlab.unixtools.views.preferences.PreferencesMainPageView" 
    />
    <page
      id="customCommands"
      name="Custom Commands"
      class="gr.aueb.dmst.istlab.unixtools.views.preferences.PreferencesTableView" 
      category="unixtoolspreferences"
    />
  </extension>
  
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <menu
        label="Unix Tools"
        id="menuPackageExplorer">
        <menu
          id="submenuCustomCommands"
          label="Custom Commands">
          <dynamic
            class="gr.aueb.dmst.istlab.unixtools.views.packageExplorer.PackageExplorerMainMenuView"
            id="gr.aueb.dmst.istlab.unixtools.views.packageExplorer.PackageExplorerMainMenuView">
          </dynamic>
        </menu>
        <menu
          id="submenuRecentlyUsed"
          label="Recently Used Commands">
          <dynamic
            class="gr.aueb.dmst.istlab.unixtools.views.packageExplorer.PackageExplorerRecentlyUsedMenuView"
            id="gr.aueb.dmst.istlab.unixtools.views.packageExplorer.PackageExplorerRecentlyUsedMenuView">
          </dynamic>
        </menu>
      </menu>
    </menuContribution>
  </extension>
</plugin>
